aside.logo {
    /*background-color: var(--bg-dark);*/
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}

aside.logo img {
    padding: 0px 15px;
    width: 100%;
}